<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


  <input type="hidden" value="{$id|htmlentities}" name="row[id]"/>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" >处理打款状态:</label>
        <div class="col-xs-12 col-sm-8">
           <select class="form-control" name="row[paytype]"    >

                <option value="-1">请选择处理状态</option>

                <option value="0" >未打款</option>
                <option value="1" >提交打款</option>

            </select>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
